* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  background-image: url('../src/assets/nightsky.avif');
  background-position: center;
  min-height: 100vh;
}